<footer class="footer-section">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="widget latest-news-widget">
            <h5 class="widget-title">{{ 'FOOTER.ABOUT' | translate }}</h5>
            <div [innerHTML]="'FOOTER.ABOUT_PLUS' | translate" class="link-footer"></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget course-links-widget">
            <h5 class="widget-title">{{ 'FOOTER.CONTACT_US' | translate }}</h5>
            <ul class="list-unstyled menu-items">
              <li class="link-footer"><a href="mailto:depot@bib.umontreal.ca?subject=Interface de dépôt en libre accès"><img src="/assets/images/PaperPlaneTilt.svg" alt=""> {{ 'FOOTER.WRITE_TO_US' | translate }}</a></li>
              <li class="link-footer"><a href="https://bib.umontreal.ca/nous-joindre/clavarder" target="_blank"><img src="/assets/images/Chats.svg" alt=""> {{ 'FOOTER.CHAT_WITH_US' | translate }}</a></li>
            </ul>
            <p class="link-emergency"><a href="#"><img src="/assets/images/Siren.svg" alt=""></a> {{ 'FOOTER.EMERGENCY' | translate }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget newsletter-widget">
            <h5 class="widget-title">{{ 'FOOTER.SEEMORE' | translate }}</h5>
            <ul class="list-unstyled menu-items">
              <li class="link-footer" [innerHTML]="'FOOTER.LINK_OPEN_ACCESS' | translate"></li>
              <li class="link-footer"  [innerHTML]="'FOOTER.LINK_POLITICS' | translate"></li>
              <li class="link-footer" [innerHTML]="'FOOTER.LINK_PAPYRUS' | translate"></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <a href="https://bib.umontreal.ca/" target="_blank" ><img src="/assets/images/Group.svg" alt="" class="img-footer"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 text-sm-left text-center">
          <span class="copy-right-text" [innerHTML]="'FOOTER.COPYRIGHT_TEXT' | translate"></span>
        </div>
        <div class="col-md-6 col-sm-6">
          <ul class="terms-privacy d-flex justify-content-sm-end justify-content-center list-unstyled">
            <li class="link-footer" [innerHTML]="'FOOTER.PRIVACY' | translate"></li>
            <li> | </li>
            <li class="link-footer" [innerHTML]="'FOOTER.TERMS_OF_USE' | translate"></li>
            <li> | </li>
            <li class="link-footer" [innerHTML]="'FOOTER.COOKIE_SETTINGS' | translate"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
