:root {
  --primaryColour: #0057ac;
  --darkBlue: #0B113A;
  --primaryColourLight: #EEF4F7;
  --selectColor: #52B782;
  --baseFont: #444A55;
  --lightGrey: #dee2e6;
  --mediumGrey: #8E9299;
  --errorRed: #F04E24;
  --warningColor: #ee7331;
  --darkGrey: #3a3939;
}
