@import 'src/assets/styles/_variables.css';
html {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

body {
  font-size: 1rem;
  color: var(--baseFont);
  margin: 0;
  padding-bottom: 80px;
  box-sizing: border-box;
}
header {
  background: #747E88!important;
}
section {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

small {
  color: var(--mediumGrey);
}

/* Css nouveau a partir de la maquette */

.btn-primary-bib {
  border-radius: 60px;
  background: var(--primaryColour);
  color: white;
  width: 20%;
}

.btn-danger-bib {
  border-radius: 60px;
  background: var(--errorRed);
  color: white;
  width: 20%;
}



/* Définir la police Lora pour tous les titres h1 à h6 */
h1, h2, h3, h4, h5, h6 {
  color: var(--darkBlue);
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Lora; /* Utilisez Lora pour les titres */
  font-style: normal;
  line-height: 120%;
}

/* Définir la police Figtree pour les paragraphes et autres éléments */
h5 {
  color: var(--darkBlue);
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Lora;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 36px */
}

p, span, small {
  color: var(--darkGrey);
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Figtree;
  font-style: normal;
  line-height: 120%;
}

/* Classes pour les tailles de police et couleurs*/
.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-42 {
  font-size: 42px;
}

.text-grey{
  color: var(--darkGrey);
}

.text-primary{
  color: var(--primaryColour);
}

.text-lGrey{
  color: var(--mediumGrey);
}

.text-llGrey{
  color: var(--lightGrey);
}

.text-jaune{
  color: var(--jaune);
}

.text-roseDark{
  color: var(--roseDark);
}

.bg-darkBlue{
  background: var(--darkBlue);
}
